In [2]:
import pandas as pd

In [3]:
dama2020 = {'和田じぃじ':[10000,10000],'和田ばぁば':[10000,10000],'ひーちゃん':[2000,2000],'ゆーき':[5000,5000],'ときおか':[2000,1000],'しげちゃん':[2000,1000],'ムトさん':[1000,500]}
dama2021 = {'和田じぃじ':[5000,5000],'ひーちゃん':[2000,2000],'ときおか':[5000,2000],'しげちゃん':[2000,1000]}

In [7]:
df_dama2020 = pd.DataFrame(dama2020,index=['さわ４歳','もと２歳'])
df_dama2021 = pd.DataFrame(dama2021,index=['さわ５歳','もと３歳'])
df_dama2021

      和田じぃじ  ひーちゃん  ときおか  しげちゃん
さわ５歳   5000   2000  5000   2000
もと３歳   5000   2000  2000   1000

In [10]:
df_dama.sum()

和田じぃじ    20000
和田ばぁば    20000
ひーちゃん     4000
ゆーき      10000
ときおか      3000
しげちゃん     3000
ムトさん      1500
dtype: int64

In [11]:
df_dama.sum(axis=1)

さわ４歳    32000
もと２歳    29500
dtype: int64

In [8]:
df_dama2020.to_csv('otoshidama2020.csv')
df_dama2021.to_csv('otoshidama2021.csv')