In [1]:
import pandas as pd

In [2]:
dama2020 = {'和田じぃじ':[10000,10000],'和田ばぁば':[10000,10000],'ひーちゃん':[2000,2000],'ゆーき':[5000,5000],'ときおか':[2000,1000],'しげちゃん':[2000,1000]}

In [3]:
df_dama = pd.DataFrame(dama2020,index=['さわ４歳','もと２歳'])
df_dama

      和田じぃじ  和田ばぁば  ひーちゃん   ゆーき  ときおか  しげちゃん
さわ４歳  10000  10000   2000  5000  2000   2000
もと２歳  10000  10000   2000  5000  1000   1000

In [8]:
df_dama['ムトさん']=[1000,500]
df_dama

      和田じぃじ  和田ばぁば  ひーちゃん   ゆーき  ときおか  しげちゃん  ムトさん
さわ４歳  10000  10000   2000  5000  2000   2000  1000
もと２歳  10000  10000   2000  5000  1000   1000   500

In [9]:
df_dama.sum()

和田じぃじ    20000
和田ばぁば    20000
ひーちゃん     4000
ゆーき      10000
ときおか      3000
しげちゃん     3000
ムトさん      1500
dtype: int64

In [10]:
df_dama.sum(axis=1)

さわ４歳    32000
もと２歳    29500
dtype: int64

In [11]:
df_dama.to_csv('otoshidama2020.csv')